@charset "utf-8";
#wrapper {
    background: #ffffff;
    height:100%;
    position:relative;
    width:100%;
    vertical-align:50%;
}

table {
    height: 100%;
    width: 80%;
    padding: 20px;
    text-align: left;
    tr:hover background-color: #000000;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even){background-color:#f2f2f2}
tr:hover{background-color:#aeeaff}



